*.py[co]
*.egg-info
/stage
/.pydoctor.pickle
/apidocs
/gitosis/test/tmp

# debianization
/debian/control
/debian/files
/debian/*.substvars
/debian/*.debhelper
/debian/gitosis
/build
/dist
/python-build-stamp-*
